doctype html

head
    title Ñam ñam ñam
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/styles.css')

body
    div.main-wrapper
        header.main-header
            - var indexUrl = locale === defaultLocale ? '/' : `/${locale}/`;
            h1: a(href=indexUrl)= __('Ñam ñam ñam')
            p.tagline= __('Easy recipes')

        main
            article.content
                h1= title
                - var availableLocales = locales.filter(x => x !== locale && !!lang(x));
                if availableLocales
                    p.translations #{__('Also available in') + ' '}
                        each lc, index in availableLocales
                            a(href=`/${lang(lc).path}`)= __(lc)
                            if index < availableLocales.length - 1
                                |,#{' '}
                        |.
                != contents

                block extra

        footer.main-footer
            p #{__('Compiled with ♥︎ by')} <a href="https://www.twitter.com/ladybenko">@ladybenko</a>.
